{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "always",
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "parser": "typescript",
  "singleAttributePerLine": true
}
